@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --font-jetbrains: 'JetBrains Mono', monospace, sans-serif;
    --font-bebas: 'Bebas Neue', monospace, sans-serif;
    --font-blackops: 'Black Ops One', monospace, sans-serif;
    --color-60: rgb(15, 23, 42);
    --color-30: rgb(39, 54, 78);
    --color10-orange: rgb(221, 145, 14);
    --color10-green: rgb(16, 185, 129);
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* [tema="dark"] {
    --color-60: rgb(15, 23, 42);
    --color-30: rgb(39, 54, 78);
    --color-10: rgb(16, 185, 129);
} */

header {
    background-color: var(--color-30);
    text-align: center;
}
    header h1 {
        text-align: center;
        font-family: var(--font-blackops);
        color: var(--color10-orange);
        padding-top: 15px;
        padding-bottom: 10px;
    }
        header h1 span {
            font-family: var(--font-jetbrains);
            color: white;
            font-size: 1.8rem;
        }

main {
    background-color: var(--color-60);
    min-height: 85vh;
}
    p {
        font-family: var(--font-jetbrains);
        font-size: 0.8rem;
        text-align: center;
        color: white;
        padding: 15px 5vw;
    }
        abbr, span.main {
            text-decoration: none;
            color: var(--color10-orange)
        }

    form {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
        div.formulario {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        label {
            font-family: var(--font-bebas);
            color: var(--color10-orange);
            letter-spacing: 2px;
            font-size: 1.2rem;
            margin-top: 15px;
            margin-right: auto;
        }

        select {
            font-family: var(--font-jetbrains);
            font-size: 0.9rem;
            font-weight: 300;
            padding: 3px;
            width: 50vw;
            border: none;
            max-width: 500px;
            min-width: 250px;
            border-radius: 2px;
        }
            select:focus {
                border: var(--color10-orange) 2px solid;
                transition: 0.3s;
            }

        button {
            font-family: var(--font-jetbrains);
            font-size: 0.8rem;
            padding: 3px 10px 3px 10px;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            min-width: 250px;
            width: 50vw;
            max-width: 500px;
            margin-top: 20px;
            transition: border-radius background-color 0.3s;
        }
            button:hover {
                transition: 0.3s;
                border-radius: 10px;
                background-color: var(--color10-green);
            }

            button:active {
                transition: 0.5s;
                font-weight: 200;
                color: white;
                background-color: black;
            }
    
    div#flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
        div#resultado {
            background-color: var(--color10-green);
            border-radius: 5px;
            min-width: 250px;
            width: 50vw;
            max-width: 500px;
            margin-top: 30px;
            transition: 0.3s;
        }
            div#resultado:hover {
                transition: 0.3s;
                background-color: var(--color10-orange);
                border-radius: 12px;
            }

            div#resultado p {
                font-family: var(--font-bebas);
                font-size: 1.5rem;
                color: white;
                text-align: center;
            }

footer {
    background-color: var(--color-30);
    color: white;
    text-align: center;
}
    footer p {
        font-family: monospace;
        font-size: 0.8rem;
        text-align: center;
        color: white;
        padding: 20px 0px;
    }